body{
    font-family: sans-serif;
    min-height: 100vh;

}

.topcontainer{
    background-color: #1f2937;
    height:400px;
    flex-direction: column;
    display: flex;
   
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100px;
}

.left-header, .right-header{
    font-size: 18px;
}

.right-header{
    color:lightgray;
}

.left-header{
    color:white;
    font-weight: bold;
}

ul{
    display:flex;
    gap:20px
}

li{
    list-style: none;
}

.centerheader{
 min-height: 250px;
 display:flex;
 justify-content: center;
 gap:120px;
 
}

.left,.right{
    width: 550px;
     color:white;
     flex-direction: column;
     display: flex;
     flex-wrap: wrap;
}

.right{
    background-color: gray;
}

button{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding:10px;
    border-radius: 10px;
    width:100px;
}


.container1, .container2{
 display:flex; 
 justify-content: center;  
}
.container2{
    height:300px;
    align-items: center;
    background-color: lightgray;   
}

.quotebox{
    width:800px;
    font-size:1.75em;
    font-style:italic;
}

.pic-container{
    width:1000px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}
.imagebox{

    height: 200px;
    width:200px;
    border: 3px solid #3882f6;
    display:flex;
    border-radius: 20px;
}

.content{
    display:flex;
    justify-content: center;
}

.textbox{
    width:200px;
    height:100px;
    text-align: center;
    margin-top: 10px;
}

